<h1>Groups</h1>
<% @groups.each do |g| %>
	<%= link_to group_path(id: g.id) do %>
		<%= g.icon %>
		<%= g.name %>
		<%= g.created_at %>
	<% end %>	
<% end %>

<%= button_to "Create new", new_group_path, method: :get %>