<div class="row d-flex justify-content-center">
	<h1>New group</h1>
</div>
<div class="jumbotron container">	
	<%= form_for @group, html: { multipart: true } do |f| %>
		<%= render 'shared/error_messages', object: @group %>
		<div>
			<%= f.file_field :icon %>
		</div><br>
		<div>
			<%= f.label :name %>
		</div>
		<div>
			<%= f.text_field :name %>
		</div>
		<div class="col-md-12 button-box">
			<%= f.submit "CREATE GROUP", class: 'form-control button' %>
		</div>
	<% end %>
</div>