<h1>New group</h1>
<%= form_for @group, html: { multipart: true } do |f| %>
	<span>
		<%= f.file_field :icon %>
	</span>
	<div>
		<%= f.label :name %>
	</div>
	<div>
		<%= f.text_field :name %>
	</div>
	<div>
		<%= f.submit "Create Group" %>
	</div>
<% end %>