<div class="row d-flex justify-content-center">
	<h1><%= @title %></h1>	
</div>
<div class="row d-flex justify-content-center">
	<h6>Most recent</h6>	
</div>
<div class="row amount">
	<div class="col-md-6 col-sm-6 d-flex justify-content-start">Balance</div>
	<div class="col-md-6 col-sm-6 d-flex justify-content-end"><%= current_user.amount %></div>
</div>
<div class="row transaction-container">
	<% @transactions.each do |t| %>
		<div class="col-md-12 transaction d-flex justify-content-center">
			<div class="col-md-4 text-left">
				<%= image_tag find_group(t.group_id).icon.url if t.group.icon? %>
			</div>
			<div class="col-md-4 transaction-description text-center">
				<%= find_group(t.group_id).name %><br>
				<%= t.created_at %>
			</div>
			<div class="col-md-4 amount text-right">
				$<%= t.amount %>	
			</div>
		</div><br>
	<% end %>
	<div class="col-md-12 button-box">
		<%= button_to "ADD NEW", new_transaction_path, method: :get, class: 'btn-block button' %>
	</div>	
</div>



