<!DOCTYPE html>
<html>
  <head>
    <title>DoctorDev</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <%= render 'shared/navbar' %>
    <div class="">
      <% flash.each do |key, message| %>
        <h2><%= message %></h2>
      <% end %>
      <%= yield %>
    </div>
  </body>
</html>
